.ant-form-item-control-input {
  margin-bottom: 5px !important;
}

.prod-image {
  position: relative;
  display: inline;
  width: 64px;
  height: 64px;
  max-height: 64px;
  overflow: hidden;

  img {
    object-fit: cover;
  }

  &:hover::after {
    content: 'x';
    color: white;
    background: rgba(255, 0, 0, 0.438);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    margin: auto;
    line-height: 64px;
    text-align: center;
    cursor: pointer;
  }
}
