<h2>Stocks</h2>

<nz-table #stocksTable [nzData]="TableData" [nzLoading]="tableLoading" [nzPageSize]="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Size</th>
        <th>Color</th>
        <th>Product</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Status</th>
        <th style="text-align: center">
            <button nz-button nzType="primary" (click)="handleToggleNewStockForm(true)">New stock</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of stocksTable.data">
        <td>{{stock.id}}</td>
        <td>{{stock.size}}</td>
        <td>{{stock.color_id.name}}</td>
        <td>{{stock.product_id.name}}</td>
        <td>{{stock.product_id.sub_category_id.name}}</td>
        <td>{{stock.number}}</td>
        <td>
            <nz-tag nzColor="green" *ngIf="stock.status === 1">Active</nz-tag>
            <nz-tag nzColor="red" *ngIf="stock.status === 0">Deactive</nz-tag>
        </td>
        <td style="text-align: center">
            <nz-button-group>
                <button nz-button nzType="dashed" (click)="handleToggleEditStockForm(true, stock.id)">Edit</button>
                <button nz-button nzType="danger" (click)="handleDeleteStock(stock.id)">Delete</button>
            </nz-button-group>
        </td>
    </tr>
    </tbody>
</nz-table>


<nz-modal
        nzTitle="New stock"
        [nzContent]="newStockFormUI"
        [nzVisible]="NewStockFormDetails.visible"
        [nzOkLoading]="NewStockFormDetails.loading"
        (nzOnOk)="handleNewStockOk()"
        (nzOnCancel)="handleToggleNewStockForm(false)"
        [nzOkDisabled]="!NewStockForm.valid"
>
</nz-modal>
<nz-modal
        nzTitle="Edit stock"
        [nzContent]="editStockFormUI"
        [nzVisible]="EditStockFormDetails.visible"
        [nzOkLoading]="EditStockFormDetails.loading"
        (nzOnOk)="handleEditStockOk()"
        (nzOnCancel)="handleToggleEditStockForm(false)"
        [nzOkDisabled]="!EditStockForm.valid"
>
</nz-modal>
<!-- New stock form Template -->
<ng-template #newStockFormUI >
    <form nz-form [formGroup]="NewStockForm">
        <nz-form-item>
            <nz-form-control nzErrorTip="Size field is not valid!">
                <nz-form-label nzRequired>Size</nz-form-label>
                <nz-select formControlName="size">
                    <nz-option nzLabel="XS" nzValue="XS"></nz-option>
                    <nz-option nzLabel="S" nzValue="S"></nz-option>
                    <nz-option nzLabel="M" nzValue="M"></nz-option>
                    <nz-option nzLabel="L" nzValue="L"></nz-option>
                    <nz-option nzLabel="XL" nzValue="XL"></nz-option>
                    <nz-option nzLabel="XXL" nzValue="XXL"></nz-option>
                    <nz-option nzLabel="XXXL" nzValue="XXXL"></nz-option>
                    <nz-option nzLabel="Small" nzValue="Small"></nz-option>
                    <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                    <nz-option nzLabel="Fit" nzValue="Fit"></nz-option>
                    <nz-option nzLabel="Big" nzValue="Big"></nz-option>
                    <nz-option nzLabel="Oversize" nzValue="Oversize"></nz-option>
                    <nz-option nzLabel="35" nzValue="35"></nz-option>
                    <nz-option nzLabel="36" nzValue="36"></nz-option>
                    <nz-option nzLabel="37" nzValue="37"></nz-option>
                    <nz-option nzLabel="38" nzValue="38"></nz-option>
                    <nz-option nzLabel="39" nzValue="39"></nz-option>
                    <nz-option nzLabel="40" nzValue="40"></nz-option>
                    <nz-option nzLabel="41" nzValue="41"></nz-option>
                    <nz-option nzLabel="43" nzValue="42"></nz-option>
                    <nz-option nzLabel="44" nzValue="44"></nz-option>
                    <nz-option nzLabel="45" nzValue="45"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Color field is not valid!">
                <nz-form-label nzRequired>Color</nz-form-label>
                <nz-select formControlName="color_id">
                    <nz-option *ngFor="let color of colorList"
                               [nzValue]="color.id" [nzLabel]="color.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Product field is not valid!">
                <nz-form-label nzRequired>Product</nz-form-label>
                <nz-select formControlName="product_id">
                    <nz-option *ngFor="let product of productList"
                            [nzLabel]="product.name" [nzValue]="product.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Amount filed is required!">
                <nz-form-label nzRequired>Amount</nz-form-label>
                <input formControlName="number" nz-input type="number" >
            </nz-form-control>
        </nz-form-item>
        <div style="margin: 15px 0;">
            <label formControlName="status" nz-checkbox>
                <span>Is Active ?</span>
            </label>
        </div>
    </form>
</ng-template>
<!-- Edit stock from Template -->
<ng-template #editStockFormUI >
    <form nz-form [formGroup]="EditStockForm">
        <nz-form-item>
            <nz-form-control nzErrorTip="Size field is not valid!">
                <nz-form-label nzRequired>Size</nz-form-label>
                <nz-select formControlName="size">
                    <nz-option nzLabel="XS" nzValue="XS"></nz-option>
                    <nz-option nzLabel="S" nzValue="S"></nz-option>
                    <nz-option nzLabel="M" nzValue="M"></nz-option>
                    <nz-option nzLabel="L" nzValue="L"></nz-option>
                    <nz-option nzLabel="XL" nzValue="XL"></nz-option>
                    <nz-option nzLabel="XXL" nzValue="XXL"></nz-option>
                    <nz-option nzLabel="XXXL" nzValue="XXXL"></nz-option>
                    <nz-option nzLabel="Small" nzValue="Small"></nz-option>
                    <nz-option nzLabel="Medium" nzValue="Medium"></nz-option>
                    <nz-option nzLabel="Fit" nzValue="Fit"></nz-option>
                    <nz-option nzLabel="Big" nzValue="Big"></nz-option>
                    <nz-option nzLabel="Oversize" nzValue="Oversize"></nz-option>
                    <nz-option nzLabel="35" nzValue="35"></nz-option>
                    <nz-option nzLabel="36" nzValue="36"></nz-option>
                    <nz-option nzLabel="37" nzValue="37"></nz-option>
                    <nz-option nzLabel="38" nzValue="38"></nz-option>
                    <nz-option nzLabel="39" nzValue="39"></nz-option>
                    <nz-option nzLabel="40" nzValue="40"></nz-option>
                    <nz-option nzLabel="41" nzValue="41"></nz-option>
                    <nz-option nzLabel="43" nzValue="42"></nz-option>
                    <nz-option nzLabel="44" nzValue="44"></nz-option>
                    <nz-option nzLabel="45" nzValue="45"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Color field is not valid!">
                <nz-form-label nzRequired>Color</nz-form-label>
                <nz-select formControlName="color_id">
                    <nz-option *ngFor="let color of colorList"
                               [nzValue]="color.id" [nzLabel]="color.name"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Product field is not valid!">
                <nz-form-label nzRequired>Product</nz-form-label>
                <nz-select formControlName="product_id">
                    <nz-option *ngFor="let product of productList"
                            [nzLabel]="product.name" [nzValue]="product.id"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control nzErrorTip="Amount filed is required!">
                <nz-form-label nzRequired>Amount</nz-form-label>
                <input formControlName="number" nz-input type="number" >
            </nz-form-control>
        </nz-form-item>
        <div style="margin: 15px 0;">
            <label formControlName="status" nz-checkbox>
                <span>Is Active ?</span>
            </label>
        </div>
    </form>
</ng-template>
